.new-rover {
    display: flex;
    flex-direction: column;
    width: 200px;
}

table {
    border: 1px solid black;
    width: 700px;
}

.pre-game {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.pre-game button {
    height: 40px;
    align-self: center;
}

.a-rover {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0;
}
